# Cache
**/.cache
**/.config
**/.docker-compose.yml
**/.node-gyp
**/.npm
modules/*/package-lock.json

# Compiled output
.flags
build/
dist/
node_modules/

# IDEs and editors
*.launch
*.sublime-workspace
*.sw[opq]
.c9/
.classpath
.idea
.project
.settings/
.vscode

# Logs
*.log*
package.json.lerna_backup

# Misc
**/.env
.rpt2_cache

# OS
.bash_history
.DS_Store
