stages:
 - build
 - test
 - deploy

build:
  image: docker:stable
  stage: build
  services:
    - name: docker:dind
      alias: localhost
  script:
    - apk add bash curl git jq make
    - make pull-latest
    - make all
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - make push

test:
  image: docker:stable
  stage: test
  services:
    - name: docker:dind
      alias: localhost
  script:
    - apk add bash curl git jq make
    - make pull-commit
    - BLOG_PROD=true make restart
    - sleep 15
    - make dls
    - docker service logs --raw --tail 100 blog_server
    - docker service logs --raw --tail 100 blog_proxy
    - make test

deploy:
  image: docker:stable
  stage: deploy
  services:
    - name: docker:dind
      alias: localhost
  only:
    refs:
      - prod
  script:
    - apk add bash curl git jq make
    - >
      docker build --tag ssh-action ops/ssh-action;
      docker run \
        --env=BLOG_CONTENT_BRANCH=$BLOG_CONTENT_BRANCH \
        --env=BLOG_CONTENT_DIR=$BLOG_CONTENT_DIR \
        --env=BLOG_CONTENT_REPO=$BLOG_CONTENT_REPO \
        --env=BLOG_CONTENT_URL=$BLOG_CONTENT_URL \
        --env=BLOG_DOMAINNAME=$BLOG_DOMAINNAME \
        --env=CI_COMMIT_SHA=$CI_COMMIT_SHA \
        --env=CI_PROJECT_NAME=$CI_PROJECT_NAME \
        --env=CI_REPOSITORY_URL=$CI_REPOSITORY_URL \
        ssh-action $BLOG_SERVER $SSH_KEY '
          git checkout --force prod;
          git reset --hard $CI_COMMIT_SHA;
          export BLOG_PROD="true";
          make pull-commit;
          make restart;
          docker container prune -f;
          docker image ls -q | xargs docker image rm 2> /dev/null || true;
        '
