# Cache
**/*.docker-compose.yml
**/.cache
**/.config
**/.git
**/.node-gyp
**/.npm
**/.rollup.cache
**/.rpt2_cache
**/docker-compose.yml
modules/*/package-lock.json

# Local storage
!modules/client/.env
**/*.local
.blog-content.git
.env
.ipfs
.test-content
.test-content.git
blog-content.git
ipfs
data

# Compiled output
.flags
build/
dist/
node_modules/

# IDEs and editors
*.launch
*.sublime-workspace
*.sw[opq]
.c9/
.classpath
.idea
.project
.pki
.settings/
.vscode

# Logs
*.log*
package.json.lerna_backup
modules/client/cypress/screenshots
modules/client/cypress/fixtures

# OS
.bash_history
.DS_Store
