# Cache
**/.cache
**/.config
**/.docker-compose.yml
**/.node-gyp
**/.npm
**/.rpt2_cache
modules/*/package-lock.json

# Local storage
**/*.local
.blog-content.git
.media
.env
!modules/client/.env

# Compiled output
.flags
build/
dist/
node_modules/

# IDEs and editors
*.launch
*.sublime-workspace
*.sw[opq]
.c9/
.classpath
.idea
.project
.settings/
.vscode

# Logs
*.log*
package.json.lerna_backup

# OS
.bash_history
.DS_Store
