stages:
 - test
 - deploy

build:
  image: docker:stable
  stage: test
  only:
    refs:
      - branches
  services:
    - name: docker:dind
      alias: localhost
  script:
    - apk add bash curl git jq make
    - make pull
    - make all
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - make push

test-server:
  image: docker:stable
  stage: test
  only:
    refs:
      - branches
  services:
    - name: docker:dind
      alias: localhost
  script:
    - apk add bash curl git jq make
    - make test-server

test-client:
  image: docker:stable
  stage: test
  only:
    refs:
      - branches
  services:
    - name: docker:dind
      alias: localhost
  script:
    - apk add bash curl git jq make
    - make pull-latest
    - make all
    - BLOG_PROD=true make test-client

deploy:
  image: docker:stable
  stage: deploy
  services:
    - name: docker:dind
      alias: localhost
  only:
    refs:
      - prod
  script:
    - apk add bash curl git jq make
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - make push-semver
    - >
      docker build --tag ssh-action ops/ssh-action;
      docker run \
        --env=GIT_PROJECT_NAME=$CI_PROJECT_NAME \
        --env=GIT_REPOSITORY_URL=$CI_REPOSITORY_URL \
        --env=GIT_BRANCH=prod \
        --env=GIT_REMOTE=origin \
        ssh-action $SERVER_URL $SSH_KEY '
          export BLOG_PROD="true";
          make pull-commit;
          make pull-semver;
          make restart;
        '
