stages:
 - build
 - test
 - deploy

build:
  image: docker:stable
  stage: build
  services:
    - name: docker:dind
      alias: localhost
  script:
    - apk add bash curl git jq make
    - make pull
    - make prod
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - make push

test:
  image: docker:stable
  stage: test
  services:
    - name: docker:dind
      alias: localhost
  script:
    - apk add bash curl git jq make
    - make pull
    - BLOG_DOMAINNAME=localhost make start-prod
    - sleep 15
    - make dls
    - docker service logs --raw --tail 100 blog_server
    - docker service logs --raw --tail 100 blog_proxy
    - make test

deploy:
  image: docker:stable
  stage: deploy
  services:
    - name: docker:dind
      alias: localhost
  only:
    refs:
      - master
  script:
    - apk add bash curl git jq make
    - >
      docker build --tag ssh-action ops/ssh-action;
      docker run \
        --env=CI_REPOSITORY_URL=$CI_REPOSITORY_URL \
        --env=CI_PROJECT_NAME=$CI_PROJECT_NAME \
        --env=CI_COMMIT_SHA=$CI_COMMIT_SHA \
        --env=BLOG_DOMAINNAME=$BLOG_DOMAINNAME \
        ssh-action $BLOG_SERVER $SSH_KEY '
          git checkout --force master;
          git reset --hard $CI_COMMIT_SHA;
          export BLOG_DOMAINNAME="$BLOG_DOMAINNAME";
          make pull;
          make restart-prod;
          docker container prune -f;
          docker image ls -q | xargs docker image rm 2>&1 > /dev/null || true;
        '
